@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.sectionContainer {
  background-color: #000;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 99 !important;
  height: calc(100vh - 100px) !important;

  @media screen and (max-width: 576px) {
    height: calc(90vh - 100px) !important;
  }

  @media screen and (max-width: 400) {
    height: calc(80vh - 100px) !important;
  }

  .content {

    .videoWrapper {
      .videoContainer {

        @media screen and (max-width: 767px) {
          width: 50% !important;
        }


        video {
          width: 100%;

          @media screen and (max-width: 510px) {
            width: 100% !important;
          }
        }

        img {
          position: absolute;
          top: 0;
          right: 0;
          max-width: 150px;
          max-height: 100px;
          object-fit: cover;
        }

        .playButtonWrapper {
          position: absolute;
          bottom: 16px;
          left: 16px;
          width: 86px !important;
          height: 86px !important;

          @media screen and (max-width: 767px) {
            bottom: 8px;
            left: 50%;
            transform: translateX(-50%);
          }

          .playButton {
            position: relative;
            width: 86px !important;
            height: 86px !important;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.4);
            cursor: pointer;

            @media screen and (max-width: 992px) {
              width: 66px;
              height: 66px;
            }

            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: rgba(18, 17, 17, 0.4);
              border-radius: 50%;

              @media screen and (max-width: 575px) {
                display: none;
              }
            }

            .playIcon {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 10;

              svg {
                width: 50px !important;
                height: 50px !important;

                @media screen and (max-width: 992px) {
                  width: 24px;
                  height: 24px;
                }
              }
            }
          }
        }
      }
    }

    z-index: 1;

    @media screen and (max-width: 576px) {
      text-align: center;
      padding-left: 0 !important;
      grid-template-columns: 1fr;
    }

    .heroContentIcon {
      border-radius: 100%;
      background-color: $WHITE;
      display: flex;
      align-items: center;
      justify-content: center;
      @include RP(("width": 75,
          "height": 75,
        ));

      img {
        @include RP(("width": 40,
            "height": 40,
          ));
      }
    }

    h1 {
      margin-bottom: 0 !important;
    }

    .title {
      color: $WHITE;
    }

    button {
      @include RP(("padding-left": 60, "padding-right": 60));
    }

    p {
      color: #d1d0d0;

      @include RP(("font-size": 17.5, "padding-top": 10, "margin-right": 35));

      @media screen and (max-width: 576px) {
        text-align: center;
        margin: 0;
      }
    }

    .animatedText {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      border-right: 2px solid white;
      /* Cursor effect */
      padding-right: 5px;
      font-weight: bold;
      animation: typing 0.5s steps(10, end) forwards;
    }

    @keyframes typing {
      from {
        width: 0;
      }

      to {
        width: 100%;
      }
    }

    .slideIn {
      transform: translateX(-100%);
      opacity: 0;
      animation: slideIn 0.5s ease-in-out forwards;
    }

    @keyframes slideIn {
      from {
        transform: translateX(-100%);
        opacity: 0;
      }

      to {
        transform: translateX(0);
        opacity: 1;
      }
    }

    @keyframes typing {
      from {
        width: 0;
      }

      to {
        width: 100%;
      }
    }

    .slideIn {
      transform: translateX(-100%);
      opacity: 0;
      animation: slideIn 0.5s ease-in-out forwards;
    }

    @keyframes slideIn {
      from {
        transform: translateX(-100%);
        opacity: 0;
      }

      to {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .animatedText.opacity-0 {
      opacity: 0;
      transform: translateX(-100%);
    }


    @keyframes highlightFade {
      0% {
        background-color: rgba(255, 255, 0, 0.3);
      }

      100% {
        background-color: transparent;
      }
    }

    .highlight-section {
      animation: highlightFade 1.5s ease-in-out;
    }
  }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}