@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.chatModule {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;

  .chatProfile {
    border-bottom: 1px solid $BORDER;
    @include RP(
      (
        "padding-top": 12,
        "padding-bottom": 12,
        "padding-left": 16,
        "padding-right": 16,
      )
    );
    img {
      border-radius: 100px;
      @include RP(
        (
          "width": 71,
          "height": 71,
        )
      );
    }
    h6 {
      color: $DARK;
    }
  }

  .chatBody {
    flex: 1;
    overflow-y: auto;
    @include RP(
      (
        "padding-left": 20,
        "padding-right": 20,
        "padding-top": 20,
        "padding-bottom": 20,
      )
    );

    .chatMessage {
      max-width: 70%;
      margin-bottom: 1rem;
      word-wrap: break-word;
      font-size: 0.9rem;
      @include RP(
        (
          "height": 65,
        )
      );
      svg {
        @include RP(
          (
            "width": 20,
            "height": 20,
          )
        );
      }
      &.myMessage {
        margin-right: auto;
        background-color: #f2f7fb;
        text-align: left;
        @include RP(
          (
            "padding-left": 12,
            "padding-right": 12,
            "padding-top": 10,
            "padding-bottom": 10,
            "border-bottom-right-radius": 12,
            "border-top-right-radius": 12,
            "border-top-left-radius": 12,
          )
        );
      }

      &.otherMessage {
        margin-left: auto;
        background-color: $GRAY2;
        text-align: left;
        @include RP(
          (
            "padding-left": 12,
            "padding-right": 12,
            "padding-top": 10,
            "padding-bottom": 10,
            "border-bottom-left-radius": 12,
            "border-top-left-radius": 12,
            "border-top-right-radius": 12,
          )
        );
      }

      p {
        color: $DARK;
        font-weight: 500;
        @include RP(
          (
            "font-size": 14,
          )
        );
      }

      span {
        color: #8a8686;
        font-weight: 500;
        @include RP(
          (
            "font-size": 12,
          )
        );
      }
    }
    .newMessageHeading {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 1rem 0;

      span {
        font-weight: 500;
        font-size: 12px;
        color: $DESC;
        white-space: nowrap;
        position: relative;
        padding: 0 1rem;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          height: 1px;
          background-color: $BORDER;
          width: 100%;
          @media screen and (max-width: 640px) {
            width: 65%;
          }
          @media screen and (max-width: 400px) {
            width: 55%;
          }
        }

        &::before {
          left: -110%;
          @media screen and (max-width: 640px) {
            left: -70%;
          }
          @media screen and (max-width: 400px) {
            left: -60%;
          }
        }

        &::after {
          right: -110%;
          @media screen and (max-width: 640px) {
            right: -70%;
          }
          @media screen and (max-width: 400px) {
            right: -60%;
          }
        }
      }
    }
  }

  .sendMessageWrapper {
    background-color: $WHITE;
    border-top: 0.5px solid $BORDER;
    @include RP(
      (
        "padding-top": 16,
        "padding-bottom": 16,
        "padding-left": 16,
        "padding-right": 16,
        "height": 82,
        "border-bottom-right-radius": 16,
        "border-bottom-left-radius": 16,
      )
    );
    @media screen and (max-width: 768px) {
      @include RP(
        (
          "border-bottom-right-radius": 16,
          "border-bottom-left-radius": 16,
          "padding-left": 12,
          "padding-right": 12,
        ),
        1
      );
    }
    @media screen and (max-width: 1200px) {
      height: fit-content !important;
    }
    border-top: 1px solid $BORDER;
    .sendMessageContainer {
      background-color: #f8f8f8;
      border-radius: 8px;
      @include RP(
        (
          "height": 50,
        )
      );
      .messageInput {
        background-color: transparent;
        &:focus {
          outline: none;
        }
      }
      .iconContainer {
        background-color: #e7e6e6;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @include RP(
          (
            "width": 34,
            "height": 34,
          )
        );
        svg {
          // path {
          //   stroke: $BLUE;
          // }
          @include RP(
            (
              "width": 14,
            )
          );
        }
      }
    }
  }
}
