@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.sectionContainer {
  @include RP(("padding-top": 50,
      "padding-bottom": 70,
    ), 1);
  height: 100% !important;


  @media screen and (min-width: 2000px) {
    // height: 100vh !important;
    @include RP(("padding-top": 130,
        "padding-bottom": 80,
      ), 1);
  }

  @media screen and (min-width: 1600px) and (max-width: 1999px) {
    // height: 100vh !important;
    @include RP(("padding-top": 60,
        "padding-bottom": 70,
      ), 1);
  }


  .contentWrapper {
    @include RP(("padding-top": 60,
        "padding-bottom": 60,
        "padding-left": 60,
        "padding-right": 60,
      ));

    @media screen and (max-width: 510px) {
      @include RP(("padding-top": 30,
          "padding-bottom": 30,
          "padding-left": 35,
          "padding-right": 35,
        ));
    }

    .gridContainer {
      @include RP(("padding-top": 40,
        ));

      label {
        font-weight: 500 !important;
        @include RP(("font-size": 14,
          ), 1);
        color: $WHITE !important;

        span {
          @include PRIMARY_TEXT;
        }
      }

      .error {
        width: fit-content;
        color: #ea5b5b;
        font-size: 11px;
        text-align: left;
        z-index: 1;
        margin-left: 5px;
      }

      .quoteInput {
        background-color: $DARK2 !important;
        // background-color: $BLACK;
        border-radius: 6px !important;
        border-color: #FFFFFF33 !important;
        border: 1px solid #FFFFFF33;
        // border-color: $BORDER !important;
        resize: none;
        box-shadow: none !important;
        outline: 0 !important;

        input {
          background-color: $DARK2 !important;
        }

        textarea {

          ::placeholder {
            color: $LIGHT_GRAY2 !important;
            @include RP(("font-size": 12,
              ), 1);
          }
        }
      }
    }

    .buttonContainer {
      @include RP(("margin-top": 40,
        ), 1);
    }

  }
}