@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.sectionWrapper {
  .contentContainer {
    width: 100% !important;
    margin: 0 auto;
    padding: 100px 0 50px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    .contentItem {
      height: 100%;
      position: relative;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // z-index: 2 !important;

      &:first-child {
        width: 80% !important;
        z-index: 100 !important;

        @media screen and (max-width: 992px) {
          width: 97% !important;
        }
      }

      &:nth-child(2) {
        width: 70% !important;
        height: 250px !important;
        max-height: 250px !important;
        transform: translateY(40px);
        z-index: 99 !important;

        @media screen and (max-width: 992px) {
          width: 90% !important;
        }
      }

      &:nth-child(3) {
        width: 60%;
        transform: translateY(70px);
        z-index: 98 !important;

        @media screen and (max-width: 992px) {
          width: 80% !important;
        }
      }

      &:last-child {
        width: 50%;
        transform: translateY(40px);
        z-index: 97 !important;

        @media screen and (max-width: 992px) {
          width: 70% !important;
        }
      }

      &:hover {
        // svg {
        //   path {
        //     fill: #000 !important;
        //   }
        // }

        &:nth-child(2) {
          transform: translateY(70px);
          z-index: 100 !important;
        }

        &:nth-child(3) {
          transform: translateY(120px);
          z-index: 100 !important;
        }

        &:last-child {
          transform: translateY(70px);
          z-index: 100 !important;
        }

        .heading {
          @include PRIMARY_TEXT;
          @include RP(("font-size": 44,
            ), 1);
        }
      }

      .svgWrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        right: 0;

        svg {
          width: 100% !important;
          height: 100% !important;

          svg {
            path {
              fill: #000 !important;
            }
          }
        }

        .heading {
          position: absolute;
          top: 50%;
          left: 45px;
          transform: translate(-50%, -50%);
          @include RP(("font-size": 32));
          font-weight: bold;
          color: #fff;
        }
      }

      .hiddenContent {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease;
        max-width: 70% !important;

      }

      .curvedLine {
        position: absolute;
        right: -273px;
        top: -98px;
        transform: translateY(-50%) rotate(102deg);
        pointer-events: none;
        fill: transparent !important;

        path {
          fill: none !important;
          stroke: url(#lineGradient) !important;
          stroke-width: 3;
        }

        circle {
          pointer-events: all;
        }
      }

      .targetButton {
        cursor: pointer !important;

      }

      .animatedPath {
        stroke-dasharray: 600;
        stroke-dashoffset: 600;
        animation: drawLine 2.5s linear infinite;
      }

      @keyframes drawLine {
        from {
          stroke-dashoffset: -600;
          opacity: 1;
        }

        to {
          stroke-dashoffset: 0;
          opacity: 0.8;
        }
      }

      &:hover .hiddenContent {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }

  .customBadge {
    background: $PRIMARY;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5px 3px;
    color: #fff;
    border-radius: 35px;
    font-size: 12px !important;
    width: fit-content;

    @media screen and (max-width: 992px) {
      font-size: 10px !important;
    }

    .badgeContent {
      border: 2px solid #000 !important;
      width: 100%;
      height: 100%;
      border-radius: 35px;
      padding: 2px 12px 2px 2px;

      @media screen and (max-width: 640px) {
        padding: 2px 4px;
      }

      .iconContainer {
        border-radius: 100%;
        background-color: $WHITE;
        @include RP(("width": 36, "height": 36), 1);
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 640px) {
          display: none;
        }

        @media screen and (max-width: 992px) {
          @include RP(("width": 28, "height": 28), 1);

          svg {
            @include RP(("width": 14, "height": 14), 1);
          }
        }

        svg {
          @include RP(("width": 16, "height": 16), 1);
        }
      }
    }
  }
}