@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.sectionWrapper {
  .contentContainer {
    width: 85% !important;
    margin: auto !important;
    display: flex;
    flex-direction: column;
    // gap: 20px;
    align-items: center;

    @media screen and (max-width: 576px) {
      width: 95% !important;
    }

    .contentItem {
      height: 100%;
      width: 100% !important;
      position: relative;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.1s ease-in-out;

      // z-index: 2 !important;
      &:first-child {
        width: 100% !important;
        min-width: 100% !important;
        z-index: 100 !important;

        // @media screen and (max-width: 992px) {
        //   width: 97% !important;
        // }
      }

      &:nth-child(2) {
        width: 85% !important;
        z-index: 99 !important;

        @media screen and (min-width: 2000px) {
          transform: translateY(-12%) !important;
        }

        @media screen and (min-width: 1600px) and (max-width: 1999px) {
          transform: translateY(-8%) !important;
        }

        @media screen and (max-width: 1600px) {
          transform: translateY(-2%) !important;
        }

        @media screen and (max-width: 1440px) {
          transform: translateY(-5%) !important;
        }

        @media screen and (max-width: 576px) {
          transform: translateY(-40%) !important;
        }

      }

      &:nth-child(3) {
        width: 70% !important;
        z-index: 98 !important;

        @media screen and (min-width: 2000px) {
          transform: translateY(-35%) !important;
        }

        @media screen and (min-width: 1600px) and (max-width: 1999px) {
          transform: translateY(-30%) !important;
        }

        @media screen and (max-width: 1600px) {
          transform: translateY(-15%) !important;
        }

        @media screen and (max-width: 992px) {
          transform: translateY(-15%) !important;
        }

        @media screen and (max-width: 576px) {
          transform: translateY(-146%) !important;
        }

        @media screen and (max-width: 431px) {
          transform: translateY(-75%) !important;
        }
      }


      &:nth-child(4) {
        width: 55% !important;
        z-index: 97 !important;

        @media screen and (min-width: 2000px) {
          transform: translateY(-75%) !important;
        }

        @media screen and (min-width: 1600px) and (max-width: 1999px) {
          transform: translateY(-65%) !important;
        }

        @media screen and (max-width: 1600px) {
          transform: translateY(-45%) !important;
        }

        @media screen and (max-width: 992px) {
          transform: translateY(-45%) !important;
        }

        @media screen and (max-width: 576px) {
          transform: translateY(-120%) !important;
        }
      }


      &:hover {
        .svgWrapper {
          .heading {
            @include RP(("font-size": 52), 1);
            left: 60px;

            @media screen and (max-width: 450px) {
              @include RP(("font-size": 20), 1);
              left: 20px;
            }
          }
        }

        &:nth-child(2) {
          @media screen and (min-width: 2000px) {
            transform: translateY(10%) !important;
          }

          @media screen and (min-width: 1600px) and (max-width: 1999px) {
            transform: translateY(15%) !important;
          }

          @media screen and (max-width: 1600px) {
            transform: translateY(10%) !important;
          }

          @media screen and (max-width: 1440px) {
            transform: translateY(25%) !important;
          }

          @media screen and (max-width: 992px) {
            transform: translateY(5%) !important;
            z-index: 100 !important;
          }

          @media screen and (max-width: 576px) {
            transform: translateY(-30%) !important;
          }
        }


        &:nth-child(3) {
          @media screen and (min-width: 2000px) {
            transform: translateY(-20%) !important;
          }

          @media screen and (min-width: 1600px) and (max-width: 1999px) {
            transform: translateY(-12%) !important;
          }

          @media screen and (max-width: 1600px) {
            transform: translateY(-8%) !important;
          }

          @media screen and (max-width: 1440px) {
            transform: translateY(10%) !important;
          }

          @media screen and (max-width: 992px) {
            transform: translateY(10%) !important;
            z-index: 100 !important;
          }

          @media screen and (max-width: 576px) {
            transform: translateY(-80%) !important;
          }

          @media screen and (max-width: 431px) {
            transform: translateY(-60%) !important;
          }
        }

        &:nth-child(4) {

          @media screen and (min-width: 2000px) {
            transform: translateY(-60%) !important;
          }

          @media screen and (min-width: 1600px) and (max-width: 1999px) {
            transform: translateY(-50%) !important;
          }

          @media screen and (max-width: 1600px) {
            transform: translateY(-32%) !important;
          }

          @media screen and (max-width: 1440px) {
            transform: translateY(-20%) !important;
          }

          @media screen and (max-width: 992px) {
            transform: translateY(-15%) !important;
            z-index: 100 !important;
          }

          @media screen and (max-width: 576px) {
            transform: translateY(-137%) !important;
          }

          @media screen and (max-width: 431px) {
            transform: translateY(-110%) !important;
          }
        }


        .heading {
          @include PRIMARY_TEXT;
          @include RP(("font-size": 44,
            ), 1);
        }
      }

      .svgWrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        right: 0;

        svg {
          width: 100% !important;

          // @media screen and (max-width: 576px) {
          //   height: 400px !important;
          // }

          // path {
          //   @media screen and (max-width: 576px) {
          //     height: 400px !important;
          //   }
          // }
        }

        .heading {
          position: absolute;
          top: 50%;
          left: 50px;
          transition: all 0.2s ease-in-out;
          transform: translate(-50%, -50%);
          @include RP(("font-size": 32), 1);
          font-weight: bold;
          color: #fff;

          @media screen and (max-width: 576px) {
            @include RP(("font-size": 16), 1);
          }

          @media screen and (max-width: 450px) {
            left: 20px;
            @include RP(("font-size": 12), 1);
          }
        }
      }

      .hiddenContent {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        z-index: 2;
        max-width: 70% !important;
        // transform: translateY(10px);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

        &.visible {
          opacity: 1;
          visibility: visible;
        }
      }

      .curvedLine {
        position: absolute;
        right: -273px;
        top: -98px;
        transform: translateY(-50%) rotate(102deg);
        pointer-events: none;
        fill: transparent !important;
        transition: opacity 0.3s ease-in-out;

        @media screen and (max-width: 576px) {
          height: 140px;
          transform: translateY(-50%) rotate(75deg);
          right: -200px;
          top: -45px;
        }

        path {
          fill: none !important;
          stroke: url(#lineGradient) !important;
          stroke-width: 3;
        }

        circle {
          pointer-events: all;
        }
      }

      .targetButton {
        cursor: pointer !important;

      }

      .animatedPath {
        stroke-dasharray: 600;
        stroke-dashoffset: 600;
        animation: drawLine 2.5s linear forwards;
      }

      @keyframes drawLine {
        from {
          stroke-dashoffset: -600;
          opacity: 1;
        }

        to {
          stroke-dashoffset: 0;
          opacity: 1;
        }
      }

      &:hover .hiddenContent {
        // opacity: 1;
        // visibility: visible;
        // transform: translateY(0);
      }
    }
  }

  .customBadge {
    background: $PRIMARY;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5px 3px;
    color: #fff;
    border-radius: 35px;
    @include RP(("font-size": 15), 1);
    font-weight: 500;
    width: fit-content !important;

    @media screen and (max-width: 992px) {
      font-size: 10px !important;
    }

    .badgeContent {
      border: 2px solid #000 !important;
      width: 100%;
      height: 100%;
      border-radius: 35px;
      padding: 2px 13px 2px 2px;

      @media screen and (max-width: 992px) {
        @include RP(("padding-right": 8,
          ), 1);
      }

      @media screen and (max-width: 640px) {
        padding: 2px 4px;
      }

      @media screen and (max-width: 450px) {
        padding: 1px 3px;
        font-size: 6px !important;
        height: 22px !important;
      }

      .iconContainer {
        border-radius: 100%;
        background-color: $WHITE;
        @include RP(("width": 40, "height": 40), 1);
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 992px) {
          @include RP(("width": 32, "height": 32), 1);
        }

        @media screen and (max-width: 640px) {
          display: none;
        }


        svg {
          @include RP(("width": 26, "height": 26), 1);

          @media screen and (max-width: 992px) {
            @include RP(("width": 18, "height": 18), 1);
          }

        }
      }
    }
  }

  .hiddenContent {
    @media screen and (max-width: 450px) {
      gap: 2px !important;
      max-width: 85% !important;
    }

    .customBadge {
      background: $PRIMARY;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5px 3px;
      color: #fff;
      border-radius: 35px;
      @include RP(("font-size": 15), 1);
      font-weight: 500;
      width: fit-content !important;

      @media screen and (max-width: 992px) {
        font-size: 10px !important;
      }

      .badgeContent {
        border: 2px solid #000 !important;
        width: 100%;
        height: 100%;
        border-radius: 35px;
        padding: 2px 13px 2px 2px;

        @media screen and (max-width: 992px) {
          @include RP(("padding-right": 8,
            ), 1);
        }

        @media screen and (max-width: 640px) {
          padding: 2px 4px;
        }

        @media screen and (max-width: 450px) {
          padding: 1px 3px;
          font-size: 6px !important;
          height: 22px !important;
        }

        .iconContainer {
          border-radius: 100%;
          background-color: $WHITE;
          @include RP(("width": 40, "height": 40), 1);
          display: flex;
          align-items: center;
          justify-content: center;

          @media screen and (max-width: 992px) {
            @include RP(("width": 32, "height": 32), 1);
          }

          @media screen and (max-width: 640px) {
            display: none;
          }


          svg {
            @include RP(("width": 26, "height": 26), 1);

            @media screen and (max-width: 992px) {
              @include RP(("width": 18, "height": 18), 1);
            }

          }
        }
      }
    }
  }
}