@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.sectionContainer {
  // mask-image: url("../../../../_assets/images/landing-background.png");
  // mask-size: cover;
  // mask-repeat: no-repeat;
  // mask-position: center;
  width: 100%;
  // background-color: #0C0B12 !important;
  @include RP(("padding-bottom": 50,
      "margin-top": 50,
    ));
  z-index: -1 !important;

  // @media screen and (min-width: 1800px) {
  //   @include RP(("padding-top": 150), 1);
  // }

  // @media screen and (min-width: 2100px) {
  //   @include RP(("padding-top": 200), 1);
  // }

  // @media screen and (min-width: 2300px) {
  //   @include RP(("padding-top": 250), 1);
  // }

  // @media screen and (min-width: 2400px) {
  //   @include RP(("padding-top": 300), 1);
  // }


  .customContainer {
    @include RP(("padding-left": 100,
        "padding-right": 100,
      ), 1);

    @media screen and (max-width: 510px) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .contentWrapper {
      @include RP(("padding-top": 30,
          "padding-bottom": 30,
        ));

      @media screen and (max-width: 510px) {
        @include RP(("padding-top": 30,
            "padding-bottom": 30,
          ));
      }
    }
  }
}