@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.sectionContainer {
  background-image: url("../../../../_assets/images/newsletter-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  // opacity: 0.65;
  width: 100%;
  height: 100%;
  z-index: 2 !important;
  @include RP(("padding-top": 60,
      "padding-bottom": 30,
    ));

  .contentWrapper {
    position: relative;
    @include RP(("padding-top": 30,
        "padding-bottom": 30,
      ));

    @media screen and (max-width: 510px) {
      @include RP(("padding-top": 30,
          "padding-bottom": 30,
        ));
    }

    .formContainer {
      z-index: 10 !important;
      @include RP(("padding-top": 50,
        ));
    }
  }
}