@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.sectionContainer {
  position: relative;
  width: 100%;
  height: 100%;
  @include RP(("padding-top": 60, "padding-bottom": 30), 1);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../../_assets/images/newsletter-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    opacity: 0.3;
    z-index: 1;
  }

  .contentWrapper {
    position: relative;
    z-index: 2;
    @include RP(("padding-top": 30, "padding-bottom": 80));

    @media screen and (max-width: 510px) {
      @include RP(("padding-top": 30, "padding-bottom": 30));
    }

    .formContainer {
      z-index: 10 !important;
      @include RP(("padding-top": 50, "margin-top": 20));
    }
  }
}