$PRIMARY: linear-gradient(135deg, #EC1E24 0%, #902880 100%);

.primary_text {
    background: $PRIMARY;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin PRIMARY_TEXT($gradient: $PRIMARY) {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: unset;

}

$SECONDARY: #65b55e;
$LINK: #ECF1F0;
$DARK: #141212;
$BLUE: #0092d6;
$LIGHT_BLUE: #f2f7fb;
$RED: #ed1c24;
$WHITE: #ffffff;
$GRAY: #d0d0d1;
$LIGHT_GRAY: #f8f8f8;
$DESC: #5b5b5f;
$GRAY2: #f5f5f6;
$FLAMINGO: #ef4335;
$LABEL: #8a8686;
$BORDER: #e7e6e6;
$LIGHT_GRAY2: #86878a;
$GRAYWHITE: #fffaf4;
$LINEN: #fef1e0;
$CHEESE: #ffe4c0;
$DARK2: #0c0c0c;
$BLACK: #000;
$GRAY_TRANSPARENT: #e5e4e285;