@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.sectionContainer {
  height: 100% !important;
  min-height: 100% !important;
  @include RP(("padding-top": 60,
      "padding-bottom": 60,
    ));

  .sectionHeading {
    @include RP(("margin-bottom": 30,
      ));
  }

  button {
    z-index: 9999 !important;
  }

  .sliderWrapper {
    height: 100% !important;
    min-height: 100% !important;
    position: relative;
    @include RP(("padding-top": 40,
        "padding-bottom": 40,
        "padding-left": 20,
        "padding-right": 20,
      ));
  }

  .swiperButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // background: white;
    border: none;
    // padding: 10px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    // border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 576px) {
      display: none !important;
    }

    &.prevButton {
      left: 10px;
      /* Adjusted from -50px */
    }

    &.nextButton {
      right: 10px;
      /* Adjusted from -50px */
    }

    img {
      @include RP(("width": 60,
        ));


      @media screen and (max-width: 640px) {
        @include RP(("width": 45,
          ));

      }

      transition: transform 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }


  .newsSlider {
    @include RP(("padding-top": 50,
        "padding-bottom": 50,
      ));

    .swiper-slide {
      width: auto !important;
      max-width: fit-content !important;
      height: 474px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }


    .activeSlide {
      position: relative;

      .reviewItem {
        height: 474px !important;
        min-height: 474px !important;
        max-height: 474px !important;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        video,
        img,
        embed {
          height: 100% !important;
          width: auto !important;
          max-width: 100%;
          object-fit: cover;
          border-radius: 8px !important;
        }

        embed {
          width: 100% !important;
          height: 100% !important;
        }

      }
    }

    .hoveredSlide {
      position: relative;

      .reviewItem {
        height: 474px !important;
        min-height: 474px !important;
        max-height: 474px !important;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        video,
        img,
        embed {
          height: 100% !important;
          width: auto !important;
          max-width: 100%;
          object-fit: cover;
          border-radius: 8px !important;
        }

        embed {
          width: 100% !important;
          height: 100% !important;
        }

      }
    }

    .reviewItem {
      height: 474px !important;
      min-height: 474px !important;
      max-height: 474px !important;
      // position: relative;
      width: 100%;
      height: 100%;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      overflow: hidden;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
      border-radius: 8px;

      video,
      img,
      embed {
        height: 100% !important;
        width: auto !important;
        max-width: 100%;
        object-fit: cover;
        border-radius: 8px !important;
      }

      embed {
        width: 100% !important;
        height: 100% !important;
      }

    }
  }
}