@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.footer {
  background-color: #000;
  width: 100%;
  height: 100%;
  @include RP(("padding-top": 50,
      "padding-bottom": 50,
    ));

  .customContainer {
    @include RP(("padding-left": 100,
        "padding-right": 100,
      ));

    @media screen and (max-width: 475px) {
      padding-left: 0;
      padding-right: 0;
    }

    .logo {
      @include RP(("width": 125,
          "height": 125,
        ), 1);

      @media screen and (max-width: 767px) {
        max-width: 100px !important;
        @include RP(("width": 80,
            "height": 80,
          ), 1);
      }
    }

    h5 {
      font-weight: 600;
      @include PRIMARY_TEXT;
    }

    .menus {

      li {
        transition: all 0.2s ease-in-out !important;
        color: #B6B6B6;

        a {
          font-weight: 400;
          @include RP(("font-size": 14,
            ));
        }

        &:hover {
          @include PRIMARY_TEXT;
          transform: translateX(3px) !important;
        }
      }
    }

    .footer__copyright {

      .socialContainer {
        .socialItem {
          cursor: pointer;

          svg {
            width: 23px;
            height: 23px;
          }
        }
      }

      .copyright {
        color: $WHITE !important;
        font-weight: 400 !important;
        @include RP(("font-size": 14,
          ), 1);
      }

      a {
        color: rgba(208, 208, 209, 1) !important;
        position: relative;
        transition: all 0.3s ease-in-out;
        @include RP(("font-size": 16,
          ));

        &:hover {
          color: $PRIMARY !important;
        }
      }
    }
  }
}